body {
    /* width: 1920px;
    height: 7443px; */
    margin: 0;
    background: #F8FDFF;
    font-size: 16px;
    color: #F8FDFF;
    line-height: 1.6;
    font-family: 'Volkhov', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;

    background: url(./img/Hero\ Image.png) center no-repeat;
    background-size: cover;


}

.intro__inner {
    width: 100%;
    max-width: 660;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    margin-top: 184px;

}

.intro__title {
    width: 660px;
    height: 270px;

    margin: 24px 0;
    font-family: Volkhov;
    font-size: 84px;
    font-weight: 700;

    line-height: 1;
}

.intro_suptitle {
    color: #80A5B3;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 619px;
    height: 30px;
}

.intro_subtitle {
    color: #F8FDFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    width: 610px;
    height: 90px;
}

.intro__decore {
    margin: 70px 0 0 250px;
    position: absolute;
    width: 379px;
    height: 9px;

}

.frame_3 {
    display: flex;
    padding: 16px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    border: 1px solid #80A5B3;
    background: #F8FDFF;

    font-family: Inter;
    font-weight: 700;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    border-bottom: 1px solid #F8FDFF;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.header__logo {
    font-size: 32px;
    font-weight: 700;
    font-family: Volkhov;
}

.white {
    color: #F8FDFF;
}

.grey {
    color: #80A5B3;
}

.nav {
    font-size: 20px;
    font-weight: 700;
    font-family: Inter;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #F8FDFF;
    text-decoration: none;
    position: relative;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #F8FDFF;
    opacity: 0;
    position: absolute;
    top: 100;
    left: 0;
    z-index: 1;
    transition: opacity .5s linear;
}

.nav__link:hover::after {
    opacity: 1;
}

.searchen {
    position: absolute;

    width: 760px;
    border-radius: 16px;
    background: #F8FDFF;
    box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
}



.text__field {
    margin: 24px;
    color: #2D3134;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

.searchen_section {
    margin: 32px 0 0 32px;
    display: flex;
}

.botton_searchen {
    width: 650px;
    height: 48px;
}

.botton_img_searchen {
    margin: 16px 32px 16px 32px;
    display: flex;
}

.input_box {

    position: relative;
}

.inputDox {
    margin-right: 24px;
    background: #fff;
    padding: 10px;

    border-radius: 13px;
    width: 200px;
}

.label {
    font-size: 13px;
    position: absolute;
    top: -10px;
    left: 14px;
    background: #fff;

    color: black;
}

.searchen_img {

    text-align: right;
}



.frame_button {
    display: flex;
    margin: 10px 0 10px 543px;
    border-radius: 4px;
    background: #80A5B3;
    height: 48px;

    justify-content: center;
    align-items: center;
}

.form_button {
    margin: 0 5px;
}


.slider {
    margin-top: 40px;
    display: flex;
    margin-left: -290px;
}

.slider_lent {
    display: flex;
}

.size20 {


    color: #80A5B3;
    font-family: Inter;
    font-size: 20px;

    font-weight: 600;
    line-height: 20px;
    letter-spacing: 4px;
}

.align_center {
    text-align: center;
}

.size48 {
    color: #2D3134;

    font-family: Volkhov;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-top: 15px;
    text-transform: capitalize;
}

.categories {
    margin: 112px;
}

.lent_categories {
    margin-right: 24px;

    display: flex;
    width: 491px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    border-radius: 24px;
    border: 1px solid #80A5B3;
    background: #FFF;
}

.size24 {
    color: #80A5B3;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    text-transform: uppercase;
}

.size16 {
    width: 399px;
    color: #2D3134;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;

    font-weight: 500;
    line-height: 26px;
}

.img_arrows {
    width: 54px;
    height: 54px;
    top: 0;
    bottom: 0;
    margin: auto 40px;
}

.stories {
    margin-top: 112px;
    display: flex;
}

.about {
    margin-top: 218px;
}

.about_stories {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.column_about {
    display: flex;
}

.column {
    width: 166px;
    height: 178px;
    flex-shrink: 0;
    margin-right: 91px;
    border-radius: 14px;
    border: 1px solid rgba(128, 165, 179, 0.70);
    background: #FFF;
}

.size40 {
    margin: 30px 44px 18px 26px;
    text-align: center;
    color: #80A5B3;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;

}

.size21 {
    margin: 0 54px 26px 26px;
    width: 86px;
    text-align: center;
    color: #939597;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;

}

.about_button {
    display: flex;
    height: 48px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #80A5B3;
}

.about_img {
    width: 819px;
    height: 700px;
    flex-shrink: 0;
}

.size14 {
    color: #F8FDFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.size16_about {
    width: 681px;
    color: #2D3134;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.find {
    margin-top: 112px;
}

.find_title {
    display: flex;
    justify-content: space-between;
}

.size56 {
    color: #2D3134;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;

}

.find_column {
    display: flex;
    width: 362px;
    padding: 16px;
    flex-direction: column;
    /* justify-content: center; */
    margin-right: 24px;
    gap: 16px;

    border-radius: 4px;
    background: #FFF;
}

.find_column_img {
    width: 330px;
    height: 252px;
    border-radius: 16px;
}

.find_column_text {
    margin: 16px 16px;
}

.size24 {


    color: #2D3134;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

}

.country {
    align-self: stretch;
    margin: 14px 0;
    color: #2D3134;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

}

.day_travell {
    align-self: stretch;

    color: #5B5F62;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.money_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

}


.find_button {
    display: flex;
    width: 142px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 40px;
    border: 1px solid #80A5B3;
}

.book_size {
    color: #80A5B3;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.find_slider {
    display: flex;
}

.destination {
    margin-top: 112px;
    margin-left: 250px;
}

.destination_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    gap: 16px;
}

.destination_title {
    color: #2D3134;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 66px;
}

.siz16_destination {
    margin: 16px;

    width: 619px;

    color: #5B5F62;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.button_slider {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.destination_button {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 24px;
    border: 1px solid #80A5B3;
}

.siz16_destination_button {
    color: #2D3134;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
}

.nepal_button {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 24px;
    background: #80A5B3;
}

.nepal_text {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.destination_img {
    display: flex;
    margin-top: 40px;
    margin-left: -156px;
    align-items: center;
}

.group1_1 {
    margin: 0 24px 24px 0;
}

.gruop4 {
    display: flex;
}

.group4_1 {
    margin: 0 24px 0;
}

.group3_1 {
    margin-left: 24px;
}

.gruop4 {
    margin-top: 24px;
}

.group4_size {
    width: 308px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 44.27%, rgba(0, 0, 0, 0.00) 58.85%, #000 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.group_linear {
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 44.27%, rgba(0, 0, 0, 0.00) 58.85%, #000 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.comment {
    margin-top: 112px;
}

.comment_title {
    display: flex;
    justify-content: space-between;
}

.comment_button {

    height: 48px;
    padding: 8px 16px;
    /* выравнивание по центру  */
    top: 0;
    bottom: 0;
    margin: auto 0;
    /* !!!!!!! */

    border-radius: 4px;
    background: #80A5B3;
}

.comment_table {

    display: flex;
}

.comment_column {

    margin: 40px 83px 0 0;
}

.comment_column:hover {
    transform: scale(1) translate(-5%, -5%);
    width: 425px;
    height: 586px;
    transition: .7s;

    border-radius: 20px;
    box-shadow: 50px 50px 0 10px rgba(128, 165, 179, 0.40);
}

.comment_column:not(:hover) {
    transition: .7s;


}

.comment_column_text {
    width: 451px;
    height: 623px;
    /* 700px */

    display: inline-flex;
    padding: 24px;
    flex-direction: column;


    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 4px 16px 0px rgba(17, 34, 17, 0.10);
}

.comment_size24 {
    height: 80px;
    align-self: stretch;

    color: #2D3134;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.comment_column_size14 {
    height: 67px;
    align-self: stretch;
    margin: 16px 0 12px 0;
    overflow: hidden;
    color: #2D3134;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.comment_view {
    align-self: stretch;

    color: #2D3134;
    text-align: right;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.start_icon {
    margin-right: 12px;
}

.feedback {
    margin: 16px 0 40px;
}

.feedback_name {
    margin: 20px 0 12px;
}

.feedback_name1 {
    align-self: stretch;

    color: #2D3134;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback_text {
    align-self: stretch;

    color: #2D3134;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    opacity: 0.5;
}

.browser {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.browser_img {
    width: 24px;
    height: 24px;
}

.size12 {
    flex: 1 0 0;

    color: #2D3134;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    opacity: 0.4;
}

.suzuki {
    width: 377px;
    height: 200px;

    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

footer {
    margin: 111px 100px;
}

.footer_container {
    margin: 0 0 0 -240px;
    display: inline-flex;
    padding: 45px 204px 43px 200px;
    align-items: center;
    background: #C8DAE1;
}

.footer_links {
    display: flex;


    gap: 24px;
    align-self: stretch;
}

.quick_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.quick_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.important_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.location {
    display: flex;
    align-items: center;
    gap: 8px;
}

.size16_location {
    color: #2D3134;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

}

.messeng {
    display: flex;
    flex-direction: column;

}

@media(max-width: 1000px) {
    .header {
        margin-top: 10px;
    }

    .container {
        width: 100%;
        max-width: 1000px;
        margin: 0 0 0 50px;
    }

    .header__inner {
        display: inline;

    }

    .nav {
        margin: 10px auto;
    }

    .frame_3 {
        margin-bottom: 10px;
    }

    .intro__inner {
        margin-top: 204px;
    }

    .slider {
        display: flex;
        margin: 40px auto;
    }

    .slider_lent {
        display: inline;
    }

    .lent_categories {
        margin-bottom: 30px;
    }

    .about {
        margin-top: 118px;
    }

    .about_img {
        width: 600px;
        height: 600px;
    }

    .stories {
        display: inline;
    }

    .about_stories {
        margin-bottom: 30px;
    }

    .find_title {
        justify-content: start;
    }

    .find_arrow {
        margin-left: 30px;
    }

    .find_slider {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .destination_text {
        margin-left: -365px;
    }

    .destination_img {
        margin-left: -218px;
    }

    .destination_img {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }

    .group2 {
        margin-left: -308px;
    }

    .group3 {
        margin-top: 30px;
        margin-left: 76px;
    }

    .comment_table {
        margin-left: 279px;
        display: inline-block;
        width: 500px;
    }

    .comment_title {
        justify-content: start;
    }

    .comment_text {
        margin-right: 70px;
    }

    .footer_container {
        display: flex;
    }

    .footer_links {
        display: inline;
    }

    .messeng {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quick_links {
        margin: 30px 0;
    }

    .adress {
        margin-top: 30px;
        align-items: center;
    }

}

@media(max-width: 500px) {
    .header {
        margin-top: 10px;
    }

    .container {
        width: 100%;
        max-width: 500px;
        margin: 0 0 0 50px;
    }

    .nav {
        display: grid;
    }

    .nav__link {
        width: 150px;
    }

    .intro__inner {
        margin-top: 326px;
    }

    .intro_suptitle {
        color: #80A5B3;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        width: 300px;
        height: 30px;
    }

    .intro__title {
        width: 300px;
        height: 100px;
        margin: 25px 0;
        font-family: Volkhov;
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        color: #80A5B3;
    }

    .intro__decore {
        margin: 34px 0 0 74px;
        position: absolute;
        width: 284px;
        height: 6px;
    }

    .intro_subtitle {
        color: #F8FDFF;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        width: 300px;
        height: 100px;
    }

    .searchen {
        width: 400px;
        height: 230px;
    }

    .searchen_section {
        display: inline;
    }

    .input_box {
        margin: 0 0 10px 30px;
    }

    .frame_button {
        margin: 10px 0 10px 230px;
    }

    .size48 {
        width: 300px;
        font-size: 36px;
    }

    .slider {
        display: inline;
    }

    .lent_categories {
        width: 300px;
    }

    .size16 {
        width: 300px;
    }

    .size16_about {
        width: 300px;
    }

    .column_about {
        display: grid;
    }

    .column {
        margin: 0 0 30px;
    }

    .about_img {
        width: 300px;
        height: 300px;
    }
    .find_title{
        width: 300px;
    }
    .size56{
        font-size: 37px;
    }
    .find_slider{
        display: inline;
        width: 300px;
    }
    .find_column{
        margin-bottom: 30px;
    }
    .destination_text{
        width: 300px;
        margin-left:-182px;
        text-align: center;
    }
    .siz16_destination{
        width: 300px;
    }
    .button_slider{
        width: 300px;
        margin-left: -60px;
        grid-template-columns: repeat(3,1fr);
        display: grid;
    }
    .destination_img{
        display: inline;
    }
    .group1{
        width: 300px;
        margin: 0 0 24px -255px;
    }

    .group2{
        width: 300px;
        margin: 0 0 24px -280px;
    }
    .group3{
        margin: 0 0 0 -255px;
    }
    .group3_1 {
        margin: 0 0 24px;
        width: 308px;
        height: 250px;
    }
    .gruop4{
        display: inline;
        margin: 0 auto;
    }
    .group4_1{
        margin: 0 0 24px;
    }
    .comment_title{
        display: inline;
    }
    .comment_table{
        margin: 0 auto;
    }
    .comment_column_text{
        width: 300px;
    }
    .suzuki{
        width: 250px;

    }
    .comment_column:hover {
        transform: scale(1) translate(-5%, -5%);
        width: 300px;
        transition: .7s;
        border-radius: 20px;
        box-shadow: 50px 50px 0 10px rgba(128, 165, 179, 0.40);
    }
    .footer_container{
        width: 300px;

    }
    footer{
        margin: 111px 0 0 -9px;
    }
    .footer_links{
        margin: 0 0 0 -150px;
    }
}